##
# Este es el autoscaler para el pod
#
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: as-jn-quarkus-base
spec:
  scaleTargetRef:
    apiVersion: apps.openshift.io/v1 
    kind: DeploymentConfig 
    name: jn-quarkus-base
    subresource: scale
  minReplicas: 1 
  maxReplicas: 10
  targetCPUUtilizationPercentage: 75
---
##
# Este es el ConfigMap
#
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: jn-quarkus-base
    group: com.javanes.micro
    provider: javanes
  name: cm-jn-quarkus-base
data:
  application.properties: |-
    ## El nivel de la bitacora.
    #
    # JBoss Logging soporta los estilos de bitacora de Apache:
    #
    # * {@link org.jboss.logmanager.Level#FATAL}
    # * {@link org.jboss.logmanager.Level#ERROR}
    # * {@link org.jboss.logmanager.Level#WARN}
    # * {@link org.jboss.logmanager.Level#INFO}
    # * {@link org.jboss.logmanager.Level#DEBUG}
    # * {@link org.jboss.logmanager.Level#TRACE}
    #
    quarkus.log.level=INFO
    # ===================================================================
    # PROPIEDADES PERSONALIZADAS DE LA APLICACION
    #
    # Se pueden sobre escribir las propiedades del archivo principal
    # en cualquier momento.
    # ===================================================================
    app-config.default-name=Neptuno
    app-config.greeting=Hola
    app-config.sufix=!!